 body{
     background-color: rgb(255, 255, 148);
}


#subtitulo{
    text-align: end;
}

#fasetres{
    text-align: center;
}

#faseatual{
    text-align: center;
}

#contexto{
    text-align: center;    
}