body{
    background-color: rgb(255, 255, 148);   
    text-align: center;
}

.centralizar-texto{
    text-align: justify;
}

.imagemIntroducao{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20%;
    margin-left: 22%;
}

img{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 10%;
}

nav{
    display: flex;
    justify-content: center;
    align-self: stretch;
}

div{
    height: 30vh;    
    margin-bottom: 0vh;
}

#rodape{
    display: flex;
    flex-direction:row;
    color: rgb(59, 195, 132);
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


